<style>
  .animate-repeat {
    line-height: 30px;
    list-style: none;
    box-sizing: border-box;
  }
  
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    transition: all linear 2s;
  }
  
  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
  }
  
  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 30px;
  }
</style>
<div>


  <div>
    <button ng-click="fetchExtraData()">Fetch Extra</button>
    <div ng-repeat="o in extraData track by $index">
      <div ng-bind="o"></div>
    </div>
  </div>
  <div ng-repeat="u in justUndefined">
    <div ng-bind="u"></div>
  </div>


  <div ng-repeat="f in returnArrayFn()">
    <div ng-bind="f"></div>
  </div>

  <div ng-repeat="o in justAnObject">
    <div ng-bind="o"></div>
  </div>

  <div class="animate-repeat" ng-repeat="n in repeatArray track by $index">
    <div ng-bind="'opbeat'+$index"></div>
  </div>

</div>