<style>
  .animate-repeat {
    line-height: 30px;
    list-style: none;
    box-sizing: border-box;
  }
  
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    transition: all linear 2s;
  }
  
  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
  }
  
  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 30px;
  }
</style>
<div>
  <button ng-click="fetchExtraData()">Fetch Extra</button>

  <div ui-dropdown class="ui fluid search selection dropdown">
    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">Opbeat</div>
    <div class="menu">
      <div class="item" data-value="1">Awesome</div>
      <div class="item" data-value="0">Not so much!</div>
    </div>
  </div>

  <div class="animate-repeat" ng-repeat="n in repeatArray track by $index">
    <div ng-bind="test"></div>
    <div custom-directive=""></div>
  </div>
  <div custom-directive=""></div>
</div>